<!DOCTYPE html>
<html>
<head>
    <title>PC Builder Home</title>
</head>

<body>
    <h1>
        Parts Home
    </h1>
    <h2>
        <a href="/cpu">
            <button>Processors</button>
        </a>
        <a href="/motherboard">
            <button>Mothorboards</button>
        </a>
        
    </h2>
</body>

</html>