<!DOCTYPE html>
<html>
<head>
    {%if data%}
    <title>{{data[0]}} </title>
    {%else%}
    <title>Motherboard Home</title>
    {%endif%}

</head>

<body>
   <div>
        <a href = "/">Home</a>
        <a href = "/build">Your Build</a>
        
    </div>
    {%if data%}
    <p>Motherboard: {{data[0]}}</p>
    <p>Price: {{data[1]}}</p>
    <p>Socket: {{data[2]}}</p>
    <p>Form Factor: {{data[3]}}</p>
    <p>Max Memory: {{data[4]}}</p>
    <p>Memory Slots: {{data[5]}}</p>

    {%endif%}
    

    <a href="/build/motherboard/{{data[0]}}">
    <button>Add to Build</button>
    </a>
</body>

</html>